ion-content {
    --padding-top: 40%;
    --padding-start: 10%;
    --padding-end: 10%;
    --background: rgba(255, 187, 0, 0.986);
    
}
ion-button {
    border-radius: 15px;
}

ion-fab-button{
    margin:0 2px;
}

.input-group {
    background: var(--ion-color-light);
    border-radius: 20px;
    overflow: hidden;
    margin-bottom: 15px;
}

.errors {
    font-size: small;
    color: var(--ion-color-light);
    background: var(--ion-color-danger);
    padding-left: 15px;
    padding-top: 5px;
    padding-bottom: 5px;
}
