
<ion-content>
     
        <ion-grid>
          <form [formGroup]="ionicForm" (ngSubmit)="login()" novalidate>
            <ion-row class="ion-align-items-center">
              <ion-col>        
                <h1>Ingresá</h1>
              </ion-col>
            </ion-row>
            <ion-row class="ion-align-items-center">
              <ion-col>        
                <ion-item >
                  <ion-label position="floating">Email</ion-label>
                  <ion-input type="email" formControlName="username" required></ion-input>                 
                </ion-item>
                 <!-- user error messages -->
                 <div *ngIf="(username.dirty || username.touched) && username.errors" class="errors ion-padding">
                  <span *ngIf="username.errors?.required"> El email es requerido.</span>
                  <span *ngIf="username.errors?.minlength"> El email debe tener al menos cuatro carácteres.</span>
                  <span *ngIf="username.errors?.email"> Debe agregar un email valido.</span>
                </div>
              </ion-col>
            </ion-row>
            <ion-row class="ion-align-items-center ion-justify-content-center">
              <ion-col>
                <ion-item >
                  <ion-label position="floating">Contraseña</ion-label>
                  <ion-input type="password" formControlName="password" required></ion-input>
                </ion-item>
                <!-- password Error messages -->
                <div *ngIf="(password.dirty || password.touched) && password.errors" class="errors ion-padding">
                  <span *ngIf="password.errors?.required"> La contraseña es requerido.</span>
                  <span *ngIf="password.errors?.minlength">  La contraseña debe tener al menos cuatro carácteres.</span>
                </div>
              </ion-col>  
            </ion-row>    
            <ion-row class="ion-align-items-center">
              <ion-col>
                <ion-button type="submit" expand="block">Ingresar Ahora</ion-button>
              </ion-col>
            </ion-row>
            <ion-row class="ion-align-items-center">
              <ion-col>
                <ion-button type="button" expand="block" color="secondary"  [routerLink]="['/register']" >¡ Crear una cuenta !</ion-button>
              </ion-col>
            </ion-row>        
          </form>
        </ion-grid>
</ion-content>


    <ion-fab vertical="bottom"  horizontal="start" class="fab-tester">
      <ion-fab-button color="tertiary" >Testers</ion-fab-button>
      <ion-fab-list side="end">
        <ion-fab-button (click)="loadAdmin()" color="tertiary">
          ADM
        </ion-fab-button>
        <ion-fab-button  color="tertiary" (click)="loadInvitado()" >
          INV
        </ion-fab-button>
        <ion-fab-button  color="tertiary" (click)="loadUsuario()">
          USU
        </ion-fab-button>
        <ion-fab-button  color="tertiary" (click)="loadAnonimo()">
          ANM
        </ion-fab-button>
        <ion-fab-button  color="tertiary" (click)="loadAdmin()" >
          ADM
        </ion-fab-button>
        <ion-fab-button  color="tertiary" (click)="loadTester()" >
          TST
        </ion-fab-button>      
      </ion-fab-list>    
    </ion-fab>

