<ion-content [fullscreen]="true">
  <ion-grid>
    <ion-row>
        <ion-col>
          <ion-button fill="solid" class="uno" color="none" (click)="decirUno()">
            1
          </ion-button>
        </ion-col>
        <ion-col>
          <ion-button fill="solid" class="dos"  color="none" (click)="decirDos()">
            2
          </ion-button>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <ion-button fill="solid" class="tres"  color="none" (click)="decirTres()">
            3
          </ion-button>
        </ion-col>
        <ion-col>
          <ion-button fill="solid" class="catro"  color="none" (click)="decirCuatro()">
            4
          </ion-button>
        </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-button fill="solid" class="cinco"  color="none" (click)="decirCinco()">
          5
        </ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
  </ion-content>
  