<ion-content [fullscreen]="true">
  <ion-grid>
    <ion-row>
        <ion-col>
          <ion-button fill="solid" class="vaca" color="none" (click)="decirVaca()">
            <ion-img src="/assets/animales/vaca.png" alt="vaca"></ion-img>
          </ion-button>
        </ion-col>
        <ion-col>
          <ion-button fill="solid" class="pato" color="none" (click)="decirPato()">
            <ion-img src="/assets/animales/pato.png" alt="pato"></ion-img>
          </ion-button>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <ion-button fill="solid" class="caballo" color="none" (click)="decirCaballo()">
            <ion-img src="/assets/animales/caballo.png" alt="caballo"></ion-img>
          </ion-button>
        </ion-col>
        <ion-col>
          <ion-button fill="solid" class="chancho" color="none" (click)="decirChancho()">
            <ion-img src="/assets/animales/chancho.png" alt="chancho"></ion-img>
          </ion-button>
        </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-button fill="solid" class="gallina" color="none" (click)="decirGallina()">
           <ion-img src="/assets/animales/gallina.png" alt="gallina"></ion-img>
        </ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
  </ion-content>
  