<ion-content [fullscreen]="true">
<ion-grid>
  <ion-row>
      <ion-col>
        <ion-button fill="solid" class="rojo" (click)="decirRojo()">
          Rojo
        </ion-button>
      </ion-col>
      <ion-col>
        <ion-button fill="solid" class="azul" (click)="decirAzul()">
          Azul
        </ion-button>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-button fill="solid" class="amarillo" (click)="decirAmarillo()">
          Amarillo
        </ion-button>
      </ion-col>
      <ion-col>
        <ion-button fill="solid" class="negro" (click)="decirNegro()">
          Negro
        </ion-button>
      </ion-col>
  </ion-row>
  <ion-row>
    <ion-col>
      <ion-button fill="solid" class="blanco" (click)="decirBlanco()">
        Blanco
      </ion-button>
    </ion-col>
  </ion-row>
</ion-grid>
</ion-content>
