<ion-content [fullscreen]="true">
  <ion-grid>
    <ion-row>
        <ion-col>
          <ion-button fill="solid" class="rojo" (click)="decirRojo()">
            
          </ion-button>
        </ion-col>
        <ion-col>
          <ion-button fill="solid" class="azul" (click)="decirAzul()">
            
          </ion-button>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <ion-button fill="solid" class="amarillo" (click)="decirAmarillo()">
            
          </ion-button>
        </ion-col>
        <ion-col>
          <ion-button fill="solid" class="negro" (click)="decirNegro()">
            
          </ion-button>
        </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-button fill="solid" class="blanco" (click)="decirVerde()">
          
        </ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
  </ion-content>
  