ion-button{
    width:100%;
    height: 28vh;  
}
ion-button.rojo{
    --background:red;
}
ion-button.azul{
    --background:blue;
}

ion-button.negro{
    --background:black;
}
ion-button.amarillo{
    --background:yellow;
}
ion-button.blanco{
    --background:green;
}