    <ion-fab vertical="start" horizontal="start" class="fab-idiomas">
      <ion-fab-button color="light" >
        <ion-img [src]="languagesService.getLanguageFlag()" ></ion-img>        
      </ion-fab-button>
      <ion-fab-list side="end">
        <ion-fab-button (click)="setEs()" color="light">
          <ion-img src="/assets/banderas/es.png" alt="Español"></ion-img>
        </ion-fab-button>
      <ion-fab-button (click)="setEn()" color="light" >
        <ion-img src="/assets/banderas/en.svg" alt="English"></ion-img>
        </ion-fab-button>
      <ion-fab-button (click)="setPt()" color="light" >
        <ion-img src="/assets/banderas/pt.png" alt="Portuguese"></ion-img>
        </ion-fab-button>
      </ion-fab-list>    
    </ion-fab>

    <ion-fab vertical="start" horizontal="end" class="fab-temas">
        <ion-fab-button color="light" >          
          <ion-icon *ngIf="this.themeService.isColor()" name="color-palette"></ion-icon>
          <ion-icon *ngIf="this.themeService.isAnimal()" name="logo-octocat"></ion-icon>
          <ion-img *ngIf="this.themeService.isNumber()"   src="assets/icon/123-numbers.svg"></ion-img>          
      </ion-fab-button>
      <ion-fab-list side="start">
        <ion-fab-button (click)="setColores()"  color="light" ><ion-icon name="color-palette"></ion-icon></ion-fab-button>
        <ion-fab-button (click)="setAnimales()" color="light" ><ion-icon name="logo-octocat"></ion-icon></ion-fab-button>        
        <ion-fab-button (click)="setNumeros()"  color="light" > <ion-img  src="assets/icon/123-numbers.svg"></ion-img>  </ion-fab-button>
      </ion-fab-list>    
    </ion-fab>
  
      <ion-fab  vertical="bottom" horizontal="center">
        <ion-fab-button  class="close" color="dark" translucent="trues"  size="small" (click)="logout()"  > 
          <ion-icon name="log-out-outline"></ion-icon>
        </ion-fab-button>
      </ion-fab>
      <ion-router-outlet></ion-router-outlet>    