on-fab-button.flag-es{    z-index: -999999em;
    background-image: url('/assets/banderas/es.png');
    background-position: center;
    background-size: contain;
}
ion-fab-button ion-img{
    width:30px;
    height: 30px;
}
.close{margin-left:50%}